<%= link_to paper do %>
  <div class="row result-card">
    <div class="col-md-4">
      <h3><%= paper.title %></h3>
      <p>
        Attachments: <%= paper.attachments.count %>
      </p>
    </div>
    <div class="col-md-8">
      <p>
        <%= truncate paper.description, length: 240 %>
      </p>
    </div>
  </div>
<% end %>
