<div class="row">
  <div class="col-md-8 col-md-offset-2">

    <h1>About</h1>
    <h4>
      What if there was a nice way to share, find and get access to data and research
      wasting away on people's hard drives?
    </h4>

    <p>
      The first 30% of this site was built at a Dark Souls LAN when David told Chris
      "Hey, I've got this idea for a site."
      Unused research needs a home. Datasets hidden away on hard drives need a chance.
      Adopt some underappreciated research today.
    </p>

    <p>
      The Rumspringa Research (working title) app you see before you is a proof-of-concept,
      bare-bones functionality implementation of how this might work, built in ~7 hours
      during the remainder of the weekend following the LAN.
    </p>

  <h3>Idea's we've had:</h3>
  <ul>
    <li>adding in categories (tags)</li>
    <li>search by author, tag, vintage, etc (way more advanced searching)</li>
    <li>flagging/automatically making papers private (so authors can control where their papers go)</li>
    <li>bunch of other stuff. if you have any ideas, shoot us an email!</li>
  </ul>
  </div>
</div>

<div class="row">
  <h2 class="text-center">Authors</h2>
  <div class="col-md-6">
  </div>
  <div class="col-md-3">
    Chris Zempel
    <br>
    <%= image_tag "chris.jpg", size: "240x300" %>
  </div>
  <div class="col-md-3">
    <h3>Bio</h3>
    <p>
      I'm a Rails developer out of St. Louis. I run the local <%= link_to "Rails Meetup", "www.archrails.com" %>
      as an open-source experiment, and I love helping people turn their ideas into good software.
    </p>
    <p>
      <%= link_to "More info here", "http://chriszempel.com/about/" %>, or feel free to send me an email at chris.m.zempel@gmail.com
    </p>
  </div>
</div>
