<footer class="footer">
  <div class="container">
    <p class="text-muted">
      <%= link_to "Home", "/" %> | <%= link_to "My Papers", papers_path %> | <%= link_to "Search", search_path %>
    <span class="pull-right">
      Built by <%= link_to "Chris Zempel", "http://chriszempel.com" %>
    </span>
  </p>
  </div>
</footer>
